<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body style="margin: 0%;">
  <div class="header" style="width: 100vw; height: 10vh; background-color: blue;  position: static; "></div>
  <div class="dashboard_container" style="width: 100%; display: flex; flex-direction: column;">
    <div class="menu_list" style="width: 15vw; height: 90vh; background-color: rgb(8, 8, 194); display: flex; flex-direction: column;  position: fixed;">
      <menu value="Hello 1" type="menu" style="width: 100%; height: 65px; background-color: rgb(8, 8, 194); color: white; border-color: white; border-top: 0px; border-left: 0px; border-right: 0px;"></menu>
      <menu type="menu" style="width: 100%; height: 65px; background-color: rgb(8, 8, 194); color: white; border-color: white; border-top: 0px; border-left: 0px; border-right: 0px;"></menu>
      <menu type="menu" style="width: 100%; height: 65px; background-color: rgb(8, 8, 194); color: white; border-color: white; border-top: 0px; border-left: 0px; border-right: 0px;"></menu>
      <menu type="menu" style="width: 100%; height: 65px; background-color: rgb(8, 8, 194); color: white; border-color: white; border-top: 0px; border-left: 0px; border-right: 0px;"></menu>
      <menu type="menu" style="width: 100%; height: 65px; background-color: rgb(8, 8, 194); color: white; border-color: white;  border-top: 0px; border-left: 0px; border-right: 0px;"></menu>
      <menu type="menu" style="width: 100%; height: 65px; background-color: rgb(8, 8, 194); color: white; border-color: white;  border-top: 0px; border-left: 0px; border-right: 0px;"></menu>
      <menu type="menu" style="width: 100%; height: 65px; background-color: rgb(8, 8, 194); color: white; border-color: white;  border-top: 0px; border-left: 0px; border-right: 0px;"></menu>
    </div>
    <div class="dashboard_content" style="width: 80vw;"></div>
  </div>
</body>
</html>